@import url(http://fonts.googleapis.com/css?family=Vast+Shadow|Krona+One);
/* CSS Document */
body {
  background: url(../img/binding_dark.png); }

#wrapper {
  width: 960px;
  margin: auto; }

a {
  font-family: 'Krona One', sans-serif;
  text-decoration: none; }

nav a {
  margin: .5em;
  display: inline-block; }

/* Navs */
#albums {
  background: #999999;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 1.5em;
  text-align: center;
  background-color: rgba(147, 147, 147, 0.2);
  color: rgba(147, 147, 147, 0.2); }

.album img {
  width: 300px;
  height: 167px;
  border-radius: 1.5em; }

h1 {
  color: white;
  font-family: 'Vast Shadow', cursive;
  font-size: 36px; }

#pic {
  border-radius: 1.5em;
  width: 900px;
  height: 500px;
  position: relative;
  left: 1.5em;
  top: .5em;
  margin: auto; }

#caption {
  color: white;
  font-family: 'Krona One', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(147, 147, 147, 0.2); }

.on {
  color: red;
  font-weight: bold; }

.off {
  color: white;
  font-weight: normal; }

.hide {
  display: none; }
