@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Vast+Shadow|Krona+One);

$color: #ff7300;
$default: #FFFFFF;
$blue: #004a94;
$nav: #999999;

body { 
}

a {
	font-family: 'Krona One', sans-serif;
	text-decoration: none;
	color: $blue;
}

nav a {
	margin:.5em;
	display:inline-block;
}

nav.top-bar {
	background: #004a94;
}

.name {
	position: relative;
	left: 10em;
}

/* Navs */

#albums {
	background: $nav;
	/*width: 900px;*/
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: rgba(147, 147, 147, .2);
	color: rgba(147, 147, 147, .2);
}


.album img {
	width: 300px;
	height: 167px;
}

h1 {
	color: $color;
	font-family: 'Vast Shadow', cursive;
	font-size: 36px;
}

#pic {
	width: 900px;
	height: 500px;
	margin-top: 15px;
}

#caption {
	color: $blue;
	font-family: 'Krona One', sans-serif;
	text-align: center;
	margin-top: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	/*width: 900px;*/
	background-color: rgba(147, 147, 147, .2);
}


.on {
	color:$color; 
	font-weight:bold;
}

.off{
	color:$blue; 
	font-weight:normal;
}

.hide{
	display:none;
}

